In [1]:
import pandas

# importing functions
import sys
sys.path.append('/Users/audreyburggraf/Desktop/THESIS/Functions')

from functions import *
from unit_conversion_functions import *
from fitting_functions import *
from signal_functions import *
from printing_functions import *

In [2]:
df = pd.read_csv('/Users/audreyburggraf/Desktop/THESIS/Gaia Data Files/gaia_data.csv')

In [3]:
df

,source_id,ra,dec,pmra,pmdec,parallax,bp_rp,phot_g_mean_mag,ph_qual,tmass_oid,...,err_min,err_ang,j_m,j_msigcom,h_m,h_msigcom,ks_m,ks_msigcom,ext_key,j_date
0,1769202380476257280,326.964971,14.825783,87.431680,48.197051,10.000008,2.731872,15.390248,AAA,337631338,...,0.06,90,12.485,0.023,11.918,0.020,11.680,0.023,NaN,2.450700e+06
1,518180210764160512,30.155441,65.266687,-42.988428,42.605428,10.000029,2.025819,13.608475,AAA,460419620,...,0.06,0,11.291,0.023,10.671,0.021,10.470,0.020,NaN,2.451183e+06
2,473881441333817984,60.747614,60.727335,-44.060846,32.695987,10.000032,0.880858,9.267752,AAA,452686025,...,0.06,0,8.187,0.041,7.833,0.034,7.757,0.024,NaN,2.451591e+06
3,2629631149026173952,337.052475,-1.761859,37.693628,-98.718081,10.000042,2.855918,16.122866,AAA,287550147,...,0.06,90,12.909,0.027,12.472,0.029,12.143,0.026,NaN,2.451094e+06
4,6473748546781525888,303.303117,-52.782225,-72.382090,-14.545004,10.000051,3.844704,18.146105,AAA,81249757,...,0.06,90,14.734,0.034,14.150,0.040,13.853,0.048,NaN,2.451440e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300803,6553614253923452800,346.503917,-35.847164,6765.995136,1330.285275,304.135369,2.098285,6.522032,DDC,153595082,...,0.29,0,4.338,0.258,3.608,0.230,3.465,0.200,NaN,2.451060e+06
300804,5164707970261890560,53.228293,-9.458168,-974.758145,20.875840,310.577293,1.140298,3.465752,DDD,262118694,...,0.29,0,2.228,0.298,1.880,0.276,1.776,0.286,NaN,2.451144e+06
300805,4075141768785646848,282.458789,-23.837097,639.367850,-193.957925,336.026602,2.834036,9.126414,AAA,207004321,...,0.06,90,6.222,0.018,5.655,0.034,5.370,0.016,NaN,2.450952e+06
300806,762815470562110464,165.830960,35.948653,-580.057087,-4776.588719,392.752945,2.215609,6.551172,DDD,395683145,...,0.30,0,4.320,0.282,3.722,0.224,3.501,0.352,NaN,2.450895e+06
300807,3864972938605115520,164.103190,7.002727,-3866.338275,-2699.214988,415.179416,4.184836,11.038391,AAA,314462619,...,0.09,90,7.085,0.024,6.482,0.042,6.084,0.017,NaN,2.451605e+06

In [4]:


#  add the absolute gaia K band magnitude and stellar mass
df["M_ks"] = df.ks_m + 5 + 5*np.log10(df.parallax/1000)

# cut off certain range 
df = df[(4 < df.M_ks) & (df.M_ks < 11)].reset_index(drop=True)

# set the stellar mass 
df["stellar_mass"] =  find_star_mass(df.M_ks)

In [7]:
find_star_mass(4)

0.7437508391717661

In [8]:
find_star_mass(11)

0.07354222771905596

In [5]:
df

,source_id,ra,dec,pmra,pmdec,parallax,bp_rp,phot_g_mean_mag,ph_qual,tmass_oid,...,j_m,j_msigcom,h_m,h_msigcom,ks_m,ks_msigcom,ext_key,j_date,M_ks,stellar_mass
0,1769202380476257280,326.964971,14.825783,87.431680,48.197051,10.000008,2.731872,15.390248,AAA,337631338,...,12.485,0.023,11.918,0.020,11.680,0.023,NaN,2.450700e+06,6.680002,0.334039
1,518180210764160512,30.155441,65.266687,-42.988428,42.605428,10.000029,2.025819,13.608475,AAA,460419620,...,11.291,0.023,10.671,0.021,10.470,0.020,NaN,2.451183e+06,5.470006,0.525634
2,2629631149026173952,337.052475,-1.761859,37.693628,-98.718081,10.000042,2.855918,16.122866,AAA,287550147,...,12.909,0.027,12.472,0.029,12.143,0.026,NaN,2.451094e+06,7.143009,0.270266
3,6473748546781525888,303.303117,-52.782225,-72.382090,-14.545004,10.000051,3.844704,18.146105,AAA,81249757,...,14.734,0.034,14.150,0.040,13.853,0.048,NaN,2.451440e+06,8.853011,0.124175
4,71475475647268736,55.057709,28.350757,42.979413,-28.578830,10.000066,2.649735,15.506643,AAA,375554729,...,12.734,0.023,12.105,0.027,11.874,0.021,NaN,2.451494e+06,6.874014,0.306187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258491,6553614253923452800,346.503917,-35.847164,6765.995136,1330.285275,304.135369,2.098285,6.522032,DDC,153595082,...,4.338,0.258,3.608,0.230,3.465,0.200,NaN,2.451060e+06,5.880335,0.459824
258492,5164707970261890560,53.228293,-9.458168,-974.758145,20.875840,310.577293,1.140298,3.465752,DDD,262118694,...,2.228,0.298,1.880,0.276,1.776,0.286,NaN,2.451144e+06,4.236849,0.706661
258493,4075141768785646848,282.458789,-23.837097,639.367850,-193.957925,336.026602,2.834036,9.126414,AAA,207004321,...,6.222,0.018,5.655,0.034,5.370,0.016,NaN,2.450952e+06,8.001868,0.179637
258494,762815470562110464,165.830960,35.948653,-580.057087,-4776.588719,392.752945,2.215609,6.551172,DDD,395683145,...,4.320,0.282,3.722,0.224,3.501,0.352,NaN,2.450895e+06,6.471597,0.365477
258495,3864972938605115520,164.103190,7.002727,-3866.338275,-2699.214988,415.179416,4.184836,11.038391,AAA,314462619,...,7.085,0.024,6.482,0.042,6.084,0.017,NaN,2.451605e+06,9.175179,0.110281

In [10]:
df['stellar_mass'].min()

0.07354374574513708

In [11]:
df['stellar_mass'].max()

0.7437377220978479

In [3]:
# tqdm

N1 = 70
N2 = 70000

num_of_runs = 10000

detection_result = multiple_fitting_function(df, N1, N2, 
                                             num_of_runs,
                                             'bigrun_10000_after_changes.csv',
                                             save_to_file = True, 
                                             print_detection_results = False)

100%|███████████████████████████████████████████████| 10000/10000 [5:35:06<00:00,  2.01s/it]